<div
  [ngClass]="{
    'border-2': true,
    'bg-sky-800': !isHighlighted() && isBlack(),
    'bg-zinc-200': !isHighlighted() && !isBlack(),
    'bg-red-600': isHighlighted(),
    'bg-yellow-300': !isHighlighted() && isLastMove(),
    'border-white': !isHighlighted(),
  }"
  class="aspect-square relative"
  cdkDropList
  [cdkDropListData]="index"
  (cdkDropListDropped)="drop($event)"
>
  @if(piece() !== null) {
    <app-piece [piece]="piece()" (startDragging)="highlightTiles(index)"></app-piece>
  }
</div>
