<div>
  <div class="flex gap-5">
    <div class="grid grid-rows-8 grid-cols-8 w-fit" cdkDropListGroup dir="">
      @for (tile of  board(); track $index) {
        <app-tile [index]="$index"></app-tile>
      }
    </div>
    <div class="bg-blue-600 p-3 text-white w-32 h-fit">
      Histórico
      <div class="bg-red-400">
        @for(move of history(); track $index) {
          <div>{{move}}</div>
        }
      </div>
    </div>
  </div>
  @if(feedback() !== '') {
    <div class="bg-red-500 text-white w-fit p-2">{{feedback()}}</div>
  }
</div>
